<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="DeviceAtlas Spring Mobile Extension"/>
    <meta name="author" content="Afilias Technologies Limited"/>
    <title>Web example</title>
</head>
<body>
    <h1>DeviceAtlas Spring extension example</h1>
    <p>Your device is detected as a <strong th:text="${deviceType}"></strong> device.</p>
    <p>Your OS is <strong th:text="${os}"></strong>.</p>
</body>
</html>
